body {
	font: 12px sans-serif;
}

#legend {
	font: 12px sans-serif;
}

.tick>line {
	fill: none;
	stroke: black;
}

.tick>text {
	fill: black;
}

path.domain {
	fill: none;
	stroke-width: 2px;
	stroke: black;
}

#wrapper {
	clear: both;
}

#chart1 {
	float: left;
	margin: 20px;
}

#myGrid {
	display: grid;
	grid-template-rows: auto auto;
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}

#grid2 {
	display: grid;
	grid-template-rows: auto auto;
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}

/* #chart3 {
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}

#chart4 {
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}

#chart5 {
	float: left;
	margin-top: 30px;
	margin-left: 20px;
} */

.age-group-1 {
	fill: #ffce54 !important;
	opacity: 0.6 !important;
}

.age-group-2 {
	fill: #4fc1eb !important;
	opacity: 0.6;
}

.age-group-3 {
	fill: #a0d568 !important;
	opacity: 0.6;
}

.age-group-4 {
	fill: #ed5564 !important;
	opacity: 0.6;
}

.age-group-5 {
	fill: #ac92eb !important;
	opacity: 0.6;
}

.non_brushed {
	fill: gray;
	opacity: 0.6;
}

.line {
	stroke-width: 5;
	fill: none;
	opacity: 0.6;
}

.line_age-group-1 {
	stroke: #ffce54 !important;
	stroke-width: 5;
	fill: none;
	opacity: 0.6;
}

.line_age-group-2 {
	stroke: #4fc1eb !important;
	stroke-width: 5;
	fill: none;
	opacity: 0.6;
}

.line_age-group-3 {
	stroke: #a0d568 !important;
	stroke-width: 5;
	fill: none;
	opacity: 0.6;
}

.line_age-group-4 {
	stroke: #ed5564 !important;
	stroke-width: 5;
	fill: none;
	opacity: 0.6;
}

.line_age-group-5 {
	stroke: #ac92eb !important;
	stroke-width: 5;
	fill: none;
	opacity: 0.6;
}